header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
}

.headerText {
    color: white;
    font-size: 150%;
}

.headerText:hover {
    text-decoration: underline;
    color: gray;
}

.bild {
    width: 100%;
    height: auto;
}