body {
    background-color: rgb(0, 0, 0, 0.3);
    background-image: url(img/background.png);
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    align-items: center;
    height: 60px;
}

.headerText {
    color: white;
    font-size: 140%;
}

.headerRight {
    display: flex;
    justify-content: space-between;
}

.headerTextHier, headerText:hover {
    text-decoration: underline;
    color: violet;
}

.headerRightTextAbstand {
    margin-right: 10px;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}

fieldset {
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid black;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    align-self: flex-start;
    margin-bottom: 5%;
}