body {
    background-color: rgb(0, 0, 0, 0.9);
    background-image: url(https://images2.alphacoders.com/130/thumb-1920-1307306.png);
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    filter: brightness(0.2) blur(1);
    margin-bottom: 1%;
    margin-top: 1%;
    align-items: center;
    height: 60px;
    -webkit-filter: brightness(0.2) blur(1);
}

.headerText {
    color: white;
    font-size: 140%;
}

.headerRight {
    display: flex;
    justify-content: space-between;
}

.headerTextHier, headerText:hover {
    text-decoration: underline;
    color: violet;
}

.headerRightTextAbstand {
    margin-right: 10px;
}

#container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

fieldset {
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgba(70, 69, 69, 0.527);
    flex-direction: column;
    color: black;
}

.logo {
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    align-self: flex-start;
    margin-bottom: 5%;
    color: white;
}